
body{
    max-width:520pt;
    width: 90%;
    margin:5pt auto;
    background:#BBB;
}

.wrapper{
    background:#FFF;
    padding: 5pt;
}

pre {
    background:#EEE;
    font-size:80%;
    font-family: monospace;
    margin: 5pt -5pt;
    padding: 5pt;
    overflow-x: auto;
}


.breadcrumbs {
    margin: -5pt 0pt 0pt -20pt;
	list-style-image: none;
	display: inline-block;
	font-family: monospace;
    font-weight: bold;
    text-decoration: none;
	color:#FFF;
	background:#000;
    width:100%;
    padding: 5pt 0pt 5pt 20pt;
}

.breadcrumbs li {
	display: inline-block;
	margin: 0pt;
	padding: 0pt;
}

.breadcrumbs b {
	padding: 5pt 10pt;
	margin: 0pt;
}

.breadcrumbs a {
	padding: 5pt 10pt;
	margin: 0pt;
}

.breadcrumbs a:hover {
    background: #333;
}
.breadcrumbs a:visited {
    color: #FFF;
}


h1 {
    font-weight: bold;
	font-family: monospace;
	color:#FFF;
    font-size:400%;
	background:#000;
    padding-top:5pt;
    padding-bottom:5pt;
    padding-left:20pt;
    margin-left:-20pt;
    margin-top:0pt;
    margin-bottom:5pt;
    width:100%;
}
h1 a {
    color:#FFF;
    text-decoration: none;
}

h2 {
    font-weight: normal;
	font-family: monospace;
	color:#FFF;
    font-size:200%;
	background:#888;
    padding-top:5pt;
    padding-bottom:5pt;
    padding-left:20pt;
    margin-left:-20pt;
    margin-top:15pt;
    margin-bottom:5pt;
    width:100%;
}
h2 a {
    color:#FFF;
    text-decoration: none;
}

h3 {
    font-weight: normal;
	font-family: monospace;
    border-bottom: solid 1pt;
	color:#000;
    font-size:150%;
    padding-top:5pt;
    padding-bottom:0pt;
    padding-left:5pt;
    margin-left:-5pt;
    margin-top:5pt;
    margin-bottom:5pt;
    width:100%;
}
h3 a {
    color:#000;
    text-decoration: none;
}

img {
	width: 100%;
    /* height:129pt;*/
}

.label {
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    font-weight:bold;
    font-size:150%;
    width:129pt;
    padding-top:10pt;
    padding-bottom:10pt;
    display: inline-block;
    margin-right: -129pt;
    position: relative;
    left: -129pt;
    top: -50pt;
    z-index: 2;
}

.toc {
    
}
.toc ul {
	float:right;
    border-left: solid #000;
    background-color:#EEE;
    margin-top:-5pt;
    padding:4pt;
    
    margin-left:2pt;
    list-style: none;
}

.tocindent1 {
    padding-left: 0pt;
}
.tocindent2 {
    padding-left: 10pt;
}
.tocindent3 {
    padding-left: 20pt;
}
.tocindent4 {
    padding-left: 30pt;
}

#page_children {
	vertical-align: top;
}

.page_children {
    margin: 0pt 0pt 0pt -20pt;
	list-style-image: none;
	display: inline-block;
	font-family: monospace;
    font-weight: bold;
    text-decoration: none;
	color:#000;
	background:#EEE;
    width:100%;
    padding: 0pt 0pt 0pt 20pt;
}

.children_tip {
	border-style: solid solid none solid;
	border-color: #EEE;
}


.page_children li {
	display: inline-block;
	margin: 0pt;
	padding: 5pt;
}


.page_children a {
	padding: 5pt 10pt;
	margin: 0pt;
}

.page_children a:hover {
    background: #EEE;
}
.page_children a:visited {
    color: #000;
}
